<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <header>
        </header>
        <nav>
            <div class="logo">
                <img src="../static/images/doeaqui.png">
            </div>
        </nav>
<section>
    <div>
        <img src="../static/images/FOTO-7.jpg" class="campanha-imagem">
        <div class="campanha-descricao">
        <h3>Doação de materiais esportivos</h2>
        <h4>Grupo Todos pelo Esporte</h3>
        <p>Ação que busca apoiar projetos sociais voltados a comunidades carentes.</p>
        <a href="exemplocampanha.html"><button class="btn btn-primary">Ver informações</button> </a>
    </div>
    </div>
    <br>

    <div>
        <img src="../static/images/FOTO-11.jpg" class="campanha-imagem">
        <div class="campanha-descricao">
        <h3>Apoio aos bombeiros do Estado</h2>
        <h4>Prefeitura de Birigui</h3>
        <p>A prefeitura de Birigui busca voluntários para prestar apoio operacional aos bombeiros que lutam contras as queimadas na região.</p>
        <a href="exemplocampanha.html"><button class="btn btn-primary">Ver informações</button> </a>
    </div>
<br>
    <div>
        <img src="../static/images/FOTO-12.jpg" class="campanha-imagem">
        <div class="campanha-descricao">
        <h3>Brigadistas voluntários</h2>
        <h4>Brigada voluntária de Casabranca</h3>
        <p>Voluntários que desejam se voluntariar em casos de enchente.</p>
        <a href="exemplocampanha.html"><button class="btn btn-primary">Ver informações</button> </a>
    </div>

</section>
    </body>
    <footer></footer>
</html>