<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../css/login-style.css" />
    <script defer src="../scripts/login.js"></script>
  </head>
  <body>
    <section>
      <div class="menu">
        <div class="logo">
          <img src="../static/images/doeaqui.png" />
        </div>
        <div class="container">
        <form id="login-form">
          <input type="text" name="usuario" id="usuario" placeholder="Usuário"/>
          <br />
          <input type="password" name="senha" placeholder="Senha" id="Senha" />
          <br />
          <br>
          <button
            type="submit"
            name="submit"
            class="btn btn-primary"
            id="form-submit"
            name="login"
          >
            Login
          </button>
        </form>
        <a href="../views/cadastro.html"
          ><p>Não é cadastrado? Cadastre-se!</p></a
      </div>
      </div>
    </section>
  </body>
  <footer></footer>
</html>
